body {
	text-align: center;
	font-family: "Castoro", serif;
	color: #263238;
	box-sizing: border-box;
}

a {
	color: #303f9f;
}
a:hover {
	color: #ff833a;
}

/* navigation bar */

.landingPage {
	background-color: #e0f2f1;
}

.profile {
	text-align: center;
	width: 100%;
	max-width: 350px;
	border-radius: 50%;
	margin-bottom: 10%;
}

.hireButton {
	background-color: #bf360c;
	font-weight: bold;
	color: white;
}

.hireButton:hover {
	color: white;
	background-color: #f9683a;
}

.job-description {
	color: #455a64;
	font-size: small;
	margin-left: 5%;
}

/* Research Page */

.section {
	text-align: left;
	margin: 5% 2%;
}

.sectionHead {
	margin: 5% 0;
	font-weight: 300;
	font-size: 2.2rem;
	font-family: "Roboto", sans-serif;
}

.projectTitle {
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
}

.projectDescription {
	font-family: "Roboto", sans-serif;
	margin: 1% 0 0 0;
	font-size: 1rem;
}

.release-date {
	color: #607d8b;
	margin: 0;
	font-size: 0.8rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

/* .projectRemark {
	color: darkred;
	font-size: 0.9rem;
	font-family: "Roboto", sans-serif;
	margin: 0;
	font-style: italic;
} */

.downloadButtons {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}
.btnImage {
	width: 150px;
}
.appleStore {
	width: 130px;
}
.googlePlayStore {
	width: 150px;
}

/* Publication Page */

.code-label {
	font-size: 0.9rem;
	font-family: "Roboto", sans-serif;
	font-style: italic;
	font-weight: bold;
	background-color: #e0f2f1;
	padding: 0 1%;
	margin: 0 1px;
	border-radius: 5px;
}

.articleRemark {
	color: white;
	font-size: 0.9rem;
	font-family: "Roboto", sans-serif;
	font-style: italic;
	background-color: darkred;
	padding: 0 1%;
	border-radius: 5px;
}

ol {
	padding-left: 5%;
}

.publication-category {
	text-decoration: underline;
	margin-left: -2%;
	margin-top: 7%;
}

.articleTitle {
	font-family: "Roboto", sans-serif;
}

.articleRemark a {
	color: white;
}

.author {
	font-style: italic;
	color: rgb(46, 26, 224);
}

.journal {
}

/* Bio Page */

ul {
	list-style-type: none;
	font-family: "Roboto", sans-serif;
}

li {
	margin: 2% 0;
}
/* contact page */
.contact-icon {
	width: 15px;
}
.degree {
	font-weight: bolder;
}
/* footer */
.footer {
	padding: 2% 0 1% 0;
}

.footer p {
	margin: 1%;
}

.footer a {
	color: #ffff;
}
